        <div>
            <form method='POST'>
                <fieldset> <legend>Datos de inicio</legend>
                <input type="hidden" name='action' id='action' value="login">
                USER: <input type="text" name='usr' id='usr'><br>
                PASS: <input type="password" name='pass' id='pass'> <br>
                <input type="submit" value="login"></fieldset>
            </form>
        {{ error }}
        </div>

