<!DOCTYPE html>
<html>
    <head>
        <title>Vista de proyectos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <table>
                <tr>
                    <th>
                        Id Proyecto
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Frecuencia
                    </th>
                    <th>
                        Cantidad de participantes
                    </th>
                    <th>
                        Acci&oacute;n
                    </th>
                </tr>
                <tr>
                    <!-- {{inicio.lista}} -->
                    <td>
                        <!-- {{id}} -->
                    </td>
                    <td>
                        <!-- {{nombre}} -->
                    </td>
                    <td>
                        <!-- {{frecuencia}} -->
                    </td>
                    <td>
                        <!-- {{cantidad de participantes}} -->
                    </td>
                    <td>
                        <!-- {{accion}} -->
                    </td><!-- {{fin.lista}} -->
                </tr>
            </table>
        </div>
    </body>
</html>
