<!DOCTYPE html>
<html>
    <head>
        <title>Vista de proyecto: <!-- {{nombre}} --></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <table>
                <tr>
                    <td>
                        Id Proyecto
                    </td>
                    <td>
                        <!-- {{id}} -->
                    </td>
                </tr>
                <tr>
                    <td>
                        Nombre
                    </td>
                    <td>
                        <!-- {{nombre}} -->
                    </td>
                </tr>
                <tr>
                    <td>
                        Frecuencia
                    </td>
                    <td>
                        <!-- {{frecuencia}} -->
                    </td>
                </tr>
                <tr>
                    <td>
                        Cantidad de participantes
                    </td>
                    <td>
                        <!-- {{cantidad de participantes}} -->
                    </td>
                </tr>
                <tr>
                    <td>
                        comentarios
                    </td>
                    <td>
                        <!-- {{comentarios}} -->
                    </td>
                </tr>
                <tr>
                    <td>
                        leyenda
                    </td>
                    <td>
                        <!-- {{leyenda}} -->
                    </td>
                </tr>
                <tr>
                    <td>
                        participantes
                    </td>
                    <td>
                        <ul>
                            <!-- {{inicio.lista}} -->
                            <li>
                                <!-- {{nombreUsr}} -->
                            </li>
                            <!-- {{fin.lista}} -->
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
