<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="./template/js/jquery-latest.min.js"></script>
{#        <script type="text/javascript" src="./template/js/modernizr.custom.23654.js" /></script>#}
        <script type="text/javascript" src="./template/js/myDragAndDrop.js" /></script>
        <script type="text/javascript" src="./template/js/funciones.js" /></script>
        <script type="text/javascript" >
            
        </script>
        <link rel="stylesheet" type="text/css" href="./template/css/style.css">
        <link rel="stylesheet" type="text/css" href="./template/menu/styles_c.css">
    </head>
    <body>
        <div id="fullPage">
            <div class="topframe">
                <div class="menu">
                    <div id='cssmenu'>
                        <ul>
                            {% for seccion in secciones %}
                                {% if seccion.disabled == false %}
                                <li {% if seccion.active == true %} class='active'{% endif %}><a href="{{ config.BASEURL }}/{{ seccion.pagina }}">{{ seccion.nombre }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>        
                </div>
            </div>
