<!DOCTYPE html>
<html>
    <head>
        <title>Vista de usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <table>
                <tr>
                    <th>
                        user
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        mail
                    </th>
                    <th>
                        ultimo ingreso
                    </th>
                    <th>
                        Acci&oacute;n
                    </th>
                </tr>
                <!-- {{inicio.lista}} -->
                <tr>
                    <td>
                        <!-- {{user}} -->
                    </td>
                    <td>
                        <!-- {{nombre}} -->
                    </td>
                    <td>
                        <!-- {{mail}} -->
                    </td>
                    <td>
                        <!-- {{ultimoLogin}} -->
                    </td>
                    <td>
                        <!-- {{accion}} -->
                    </td>
                </tr><!-- {{fin.lista}} -->
            </table>
        </div>
    </body>
</html>
