#fullPage {
    width: 90%;
    margin: 0 auto;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.elemento {
    padding: 2px;
}
.elemento:hover {
    padding: 0;
    border: 2px dashed #000;
}
.elemento.over {
    padding: 0;
    border: 2px dashed #000;
}

.elemento * {
    display: inline-block;
}

.iconosLista {
    display: inline-block;
    position: absolute;
}

.elemento > .iconosLista {
    position: absolute;
    left: 20em
}

.iconIMG {
    height: 16px;
    pointer-events: none;
}

.participantes > .opcionAgregar{
    display: block;
    margin-bottom: 1.33em;
}